.navigation-container  {
    list-style: none;
    display: flex;
    justify-content: center;
}
.navigation-container  li {
    padding: 0 10px;
}
.header ul {
    display: flex;
    list-style: none;
    gap: 60px;
    background: #9a7ad7;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    margin: 0;
  }
  
  .header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
   }

.footer-wrapper  {
    background: #9a7ad7;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footer-wrapper  ul {
    padding: 0 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 60;
   }
   .footer-wrapper ul li{
    list-style: none;
    color: #fff;
    padding: 0 10px 10px 10px;
  
   
   }
   .footer-wrapper  a {
     display: flex;
     color: #fff;
     justify-content: center;
     text-decoration:underline 
   }
  
.align-center {
    display: flex;
    justify-content: center;
}
.blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.blogs-card-container {
    max-width: 400px;
    width: 400px;
    box-shadow: 10px 1px 4px 0px #ddd;
    border-radius: 15px;
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
}
.blogs-card-full-width  {
    width: 100%;
    box-shadow: 10px 1px 4px 0px #ddd;
    border-radius: 15px;
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid #ddd;
}
.title {
    font-size: 14px;
    font-weight: 600;
}
.name{
    font-size: 14px;
}
 .date {
    font-size: 12px;
}